body
{
background:#0F974D;
}

* 
{
margin: 0;
padding: 0;
}

header
{
background: #1D9CE1;
background-position: center, center;
background-size: 75%;
height: 100px;
width: 100%;
position: relative;
}

.menu
{
list-style: none;
position: absolute;
top: 35px;
left: 35%;
}
.menu a
{
text-decoration: none;
font-family: Times New Roman;
font-size: 20px;
}

#link1:hover, #link2:hover, #link3:hover 
{
border-radius: 5px;
background: #A6D3EA;
color: #FFFFE0;
}

#footer 
{
background: #1D9CE1;
position: relative;
bottom: 0;
background: #1D9CE1;
width: 100%;
height: 100px;
}

#photo
{
position: relative;
width: 100%;
height: 750px;
}

#block 
{
position: absolute;
border: #A6D3EA solid 2px;
border-radius: 40px;
width: 20%;
height: 300px;
top: 400px;
right: 5%;
}
#block p
{
position: absolute;
bottom: -20px;
left:36%;
}
#frog
{
position: absolute;
width:100%;
height:300px;
border-radius: 40px;
}

#navi
{
position: absolute;
top: 30px;
left: 5%;
}
#navi a 
{
text-decoration: none;
}

#navi nav 
{
font-family: Arial;
}

#navi ul 
{
background: #1D9CE1;
border-radius: 30px;
}

#navi li 
{
border-radius: 30px;
color: #A6D3EA;
display: block;
padding: 1rem;
position: relative;
text-decoration: none;
transition-duration: 0.7s;
}

#navi li a 
{
color: black;
}

#navi li:hover 
{
background: #A6D3EA;
cursor: pointer;
}

#navi ul li ul 
{
background: #1D9CE1;
visibility: hidden;
opacity: 0;
position: absolute;
margin-top: 20px;
transition: all 0.5s ease;
}

#navi ul li:hover > ul, ul li ul:hover 
{
visibility: visible;
opacity: 1;
display: block;
}

#navi ul li ul li 
{
width: 80%;
transition-duration: 0s;
}

#content
{
width: 50%;
border: #A6D3EA solid 2px;
border-radius: 35px;
background: #1D9CE1;
position: absolute;
bottom: 15%;
text-align: center;
left: 18%;
}