body
{
background:#0F974D;
}

* 
{
margin: 0;
padding: 0;
}

#site-header
{
background: #1D9CE1;
top: 0px;
height: 80px;
width: 100%;
position: absolute;
}
.header
{
list-style: none;
position: absolute;
top: 25px;
left: 27%;
}
.header a
{
text-decoration: none;
color: black;
font-family: Calibri;
font-size: 20px;
margin: 0 50px;
}
#link1:hover, #link2:hover, #link3:hover 
{
border-radius: 5px;
background: #A6D3EA;
color: #FFFFE0;
}

#menu
{
position: absolute;
top: 100px;
left: 5%;
}
#menu a 
{
text-decoration: none;
}
#menu ul 
{
background: #1D9CE1;
border-radius: 30px;
font-family: Arial;
}
#menu li 
{
border-radius: 30px;
display: block;
padding: 20px;
}
#menu li a 
{
color: black;
}
#menu li:hover 
{
background: #A6D3EA;
cursor: pointer;
transition-duration: 1.0s;
}
#menu ul li ul 
{
background: #1D9CE1;
visibility: hidden;
opacity: 0;
position: absolute;
margin-top: 20px;
transition: 1.0s;
}
#menu ul li:hover > ul 
{
visibility: visible;
opacity: 1;
display: block;
}

#content
{
width: 50%;
border: #A6D3EA solid 2px;
border-radius: 35px;
background: #1D9CE1;
position: absolute;
bottom: 30%;
left: 20%;
text-align: center;
font-family: Cambria;
}

#block 
{
width: 15%;
height: 225px;
border: #A6D3EA solid 2px;
border-radius: 40px;
position: absolute;
top: 355px;
right: 7%;
}
#block p
{
position: absolute;
bottom: -30px;
left:25%;
font-family: Cambria;
}
#photo
{
position: absolute;
width:100%;
height:100%;
border-radius: 40px;
}

#footer 
{
background: #1D9CE1;
position: absolute;
bottom: 0;
width: 100%;
height: 80px;
}